<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragment :: meta}"></div>
  <div th:replace="~{fragment :: styles}"></div>
  <title>帳簿管理サイト｜家計簿TOP</title>
</head>
<body>
  <div th:replace="~{fragment :: header}"></div>

  <div th:replace="~{fragment :: alertMessages}"></div>

  <div th:replace="~{fragment :: openAsideButton}"></div>

  <aside>
    <div class="d-flex justify-content-between">
      <h5>MENU</h5>
      <button type="button" id="paymentsCloseMenuBtn" class="btn-close bg-white d-md-none"></button>
    </div>
    <div class="container mt-3">
      <ul>
        <li>
          <a th:href="@{/categories}">
            <i class="fa-solid fa-gear"></i>
            カテゴリー設定
          </a>
        </li>
        <li>
          <a th:href="@{/tags}">
            <i class="fa-solid fa-tags"></i>
            タグ詳細
          </a>
        </li>
      </ul>
      <hr>
      <div th:if="${!categories.isEmpty()}" class="mt-3 mb-5">
        <ul>
          <li class="mb-3">
            <div th:if="${categoryId == null}" class="text-info">
              <i class="fa-solid fa-forward"></i>
              <span class="fs-6 ms-2">全て</span>
            </div>
            <div th:unless="${categoryId == null}">
              <i class="fa-solid fa-caret-right"></i>
              <a th:href="@{/payments(year = ${year}, month = ${month})}" class="text-light fs-6 ms-2">全て</a>
            </div>
          </li>
          <li th:each="category : ${categories}" class="mb-3">
            <div th:if="${categoryId == category.getId()}" class="text-info">
              <i class="fa-solid fa-forward"></i>
              <span class="fs-6 ms-2" th:text="${category.getName()}"></span>
            </div>
            <div th:unless="${categoryId == category.getId()}">
              <i class="fa-solid fa-caret-right"></i>
              <a th:href="@{/payments(year = ${year}, month = ${month}, categoryId = ${category.getId()})}" th:text="${category.getName()}" class="text-light fs-6 ms-2"></a>
            </div>
          </li> 
        </ul>
      </div>
      <div th:unless="${!categories.isEmpty()}" class="mt-3 mb-5">
        <h6 class="text-center">
          <i class="fa-3x fa-solid fa-triangle-exclamation"></i>
          <p class="mt-3">カテゴリーがありません</p>
        </h6>
      </div>

      <div th:replace="~{fragment :: aside}"></div>

    </div>
  </aside>

  <main class="py-5">
    <div class="container mt-3">
      <div class="col-aside mt-4">

        <div class="d-flex justify-content-between py-3">
          <h5 class="page-title">
            <i class="fa-solid fa-piggy-bank"></i>
            家計簿ページTOP
          </h5>
          <a th:if="${!categories.isEmpty()}" th:href="@{/payments/add}">
            <i class="fa-solid fa-file-circle-plus"></i>
            データ追加
          </a>
        </div>

        <div class="d-flex flex-wrap justify-content-between mb-3">

          <!-- 検索フォーム -->
          <form th:action="@{/payments/search}" method="get" class="text-form mb-3">
            <select name="when" class="form-select">
              <option value="thisYear">今年</option>
              <option value="lastYear">去年</option>
            </select>
            <input type="text" name="keyword" class="form-control" required placeholder="支払いタイトルで検索">
            <button type="submit" class="btn btn-primary">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>

          <!-- 日付並び替えフォーム -->
          <form th:action="@{/payments}" method="get">
            <input th:if="${year}" type="hidden" name="year" th:value="${year}">
            <input th:if="${month}" type="hidden" name="month" th:value="${month}">
            <input th:if="${categoryId}" type="hidden" name="categoryId" th:value="${categoryId}">
            <select name="sort" class="form-select form-select-sm" onChange="this.form.submit();">
              <option th:selected="${sort == 'DESC' || sort == null}" value="DESC">日付が新しい順</option>
              <option th:selected="${sort == 'ASC'}" value="ASC">日付が古い順</option>
            </select>
          </form>

        </div>

        <!-- 日付表示 -->
        <p class="mb-4 ms-3 fw-bold border-bottom border-secondary">
          <a th:if="${month > 1}" th:href="@{/payments(year = ${year}, month = ${month - 1})}" class="me-3">
            <i class="fa-solid fa-chevron-left"></i>
            <small>前月</small>
          </a>
          <span th:unless="${month > 1}" class="text-secondary me-3">
            <i class="fa-solid fa-chevron-left"></i>
            <small>前月</small>
          </span>
          <a href="#" data-bs-toggle="modal" data-bs-target="#paymentSelectDateModal" class="text-dark fs-3">
            <span th:text="${year + '年 ' + month + '月'}"></span>
          </a>
          <span th:if="${year == currentYear && month == currentMonth}">
            <span class="text-secondary ms-3">
              <small>翌月</small>
              <i class="fa-solid fa-chevron-right"></i>
            </span>
          </span>
          <span th:unless="${year == currentYear && month == currentMonth}">
            <a th:if="${month < 12}" th:href="@{/payments(year = ${year}, month = ${month + 1})}" class="ms-3">
              <small>翌月</small>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <span th:unless="${month < 12}" class="text-secondary ms-3">
              <small>翌月</small>
              <i class="fa-solid fa-chevron-right"></i>
            </span>
          </span>
        </p>
        <div class="mb-4">
          <strong class="text-success" th:text="${'合計金額：￥' + #numbers.formatInteger(totalPrice, 1, 'COMMA') + '円'}"></strong>
          <div class="progress">
            <div class="progress-bar" role="progressbar" th:aria-valuenow="${progressBarSize}" th:style="${'width: ' + progressBarSize + '%'}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="text-center" th:text="${#numbers.formatInteger(totalPrice, 1, 'COMMA') + '円／100,000円'}"></p>
        </div>

        <!-- 日付選択用モーダル -->
        <div class="modal fade" id="paymentSelectDateModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row mb-3 align-items-center">
                    <div class="col-2 text-center">
                      <a th:href="@{/payments(year = ${year - 1}, month = ${month})}" class="btn btn-outline-primary">
                        <i class="fa-solid fa-chevron-left"></i>
                      </a>
                    </div>
                    <div class="col-8 text-center">
                      <h4 th:text="${year + '年'}"></h4>
                    </div>
                    <div class="col-2 text-center">
                      <span th:if="${year == currentYear}" class="btn btn-outline-secondary disabled">
                        <i class="fa-solid fa-chevron-right"></i>
                      </span>
                      <a th:unless="${year == currentYear}" th:href="@{/payments(year = ${year + 1}, month = ${month})}" class="btn btn-outline-primary">
                        <i class="fa-solid fa-chevron-right"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <span class="col-3 p-1" th:each="i : ${#numbers.sequence(1, 12)}">
                      <div th:if="${year == currentYear && i > currentMonth}">
                        <span class="btn btn-outline-secondary disabled w-100" th:text="${i + '月'}"></span>
                      </div>
                      <div th:unless="${year == currentYear && i > currentMonth}">
                        <span th:if="${i == month}" class="btn btn-primary disabled w-100" th:text="${i + '月'}"></span>
                        <a th:unless="${i == month}" th:href="@{/payments(year = ${year}, month = ${i})}" class="btn btn-outline-primary w-100" th:text="${i + '月'}"></a>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 支払いデータ一覧 -->
        <div th:if="${!payments.isEmpty()}" class="row justify-content-center">
          <ul class="col-xl-8 col-lg-10 col-md-12 col-11">
            <li th:each="payment : ${payments}">
              <div class="row mb-1">
                <div class="col-6">
                  <p th:text="${#temporals.format(payment.getDate(), 'yyyy年MM月dd日')}"></p>
                </div>
                <div class="col-6 text-end">
                  <a th:href="@{/payments/__${payment.getId()}__/edit}" class="text-success">
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                  <span>｜</span>
                  <a href="#" class="text-danger" data-bs-toggle="modal" th:data-bs-target="${'#delPaymentModal' + payment.getId()}">
                    <i class="fa-solid fa-trash-can"></i>
                  </a>

                  <!-- 削除用モーダル -->
                  <div class="modal fade" th:id="${'delPaymentModal' + payment.getId()}" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <p class="modal-title">
                            以下のデータを削除します、よろしいですか？
                          </p>
                        </div>
                        <div class="modal-body text-start">
                          <div class="container-fluid">
                            <div class="row mb-2">
                              <div class="col-md-3">
                                日付：
                              </div>
                              <div class="col-md-9">
                                <strong th:text="${#temporals.format(payment.getDate(), 'YYYY年MM月dd日')}"></strong>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-md-3">
                                タイトル：
                              </div>
                              <div class="col-md-9">
                                <strong th:text="${payment.getName()}"></strong>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-md-3">
                                金額：
                              </div>
                              <div class="col-md-9">
                                <strong th:text="${'￥' + payment.getPrice() + '円'}"></strong>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <form th:action="@{/payments/__${payment.getId()}__/delete}" method="post">
                            <span class="btn btn-secondary" data-bs-dismiss="modal">閉じる</span>
                            <button type="submit" class="btn btn-danger">削除</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row align-items-center mb-2">
                <div class="col-2 text-secondary text-center">
                  <i th:class="${methodIcons.get(payment.getMethod())}"></i>
                </div>
                <div class="col-md-1 col-2 text-md-start text-center p-0">
                  <i class="fa-solid fa-forward"></i>
                </div>
                <div class="col-md-9 col-8 p-0">
                  <strong th:text="${payment.getName()}"></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <span th:if="${payment.getTags().isEmpty()}" class="d-flex justify-content-between align-items-center">
                    <span>
                      分類タグ：
                      <span class="badge bg-danger">無し</span>
                    </span>
                    <a href="#" data-bs-toggle="modal" th:data-bs-target="${'#addPaymentTagsModal' + payment.getId()}">
                      タグ追加
                      <i class="fa-solid fa-tags"></i>
                    </a>
                  </span>
                  <span th:unless="${payment.getTags().isEmpty()}">
                    分類タグ：
                    <span th:each="tag : ${payment.getTags()}" class="badge bg-success ms-2" th:text="${tag.getName()}"></span>
                    <div class="text-end">
                      <a href="#" data-bs-toggle="modal" th:data-bs-target="${'#delPaymentTagsModal' + payment.getId()}" class="text-danger">
                        タグ削除
                        <i class="fa-solid fa-delete-left"></i>
                      </a>
                    </div>
                  </span>
                </div>
                
                <!-- タグ追加モーダル -->
                <div th:if="${payment.getTags().isEmpty()}" class="modal fade" th:id="${'addPaymentTagsModal' + payment.getId()}" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title">
                          <span th:text="${'タグ追加：' + payment.getName()}"></span>
                        </div>
                      </div>
                      <form th:action="@{/payments/__${payment.getId()}__/addTags}" method="post" th:object="${paymentTagsForm}">
                        <div class="modal-body">
                          <span th:each="tag : ${tags}" class="me-2">
                            <label th:for="${payment.getId() + 'tag' + tag.getId()}" class="form-check-label badge bg-success" th:text="${tag.getName()}"></label>
                            <input type="checkbox" name="tagIds[]" th:value="${tag.getId()}" th:id="${payment.getId() + 'tag' + tag.getId()}" class="form-check-input">
                          </span>
                        </div>
                        <div class="modal-footer">
                          <span class="btn btn-secondary" data-bs-dismiss="modal">閉じる</span>
                          <button type="submit" class="btn btn-primary">追加</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- タグ削除モーダル -->
                <div th:unless="${payment.getTags().isEmpty()}" class="modal fade" th:id="${'delPaymentTagsModal' + payment.getId()}" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title text-danger" th:text="${'タグ削除：' + payment.getName()}"></div>
                      </div>
                      <form th:action="@{/payments/__${payment.getId()}__/deleteTags}" method="post" th:object="${paymentTagsForm}">
                        <div class="modal-body">
                          <span th:each="tag : ${payment.getTags()}" class="me-2">
                            <label th:for="${payment.getId() + 'tag' + tag.getId()}" class="form-check-label badge bg-success" th:text="${tag.getName()}"></label>
                            <input type="checkbox" name="tagIds[]" th:value="${tag.getId()}" th:id="${payment.getId() + 'tag' + tag.getId()}" class="form-check-input">
                          </span>
                        </div>
                        <div class="modal-footer">
                          <span class="btn btn-secondary" data-bs-dismiss="modal">閉じる</span>
                          <button type="submit" class="btn btn-danger">削除</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-6">
                  <strong class="text-primary" th:text="${'￥' + #numbers.formatInteger(payment.getPrice(), 1, 'COMMA') + '円'}"></strong>
                </div>
                <div class="col-6">
                  <div class="d-flex flex-wrap">
                    <span class="ms-auto">分類カテゴリー：</span>
                    <strong class="ms-md-0 ms-auto" th:text="${payment.getCategory().getName()}"></strong>
                  </div>
                </div>
              </div>
              <hr class="mt-0">

            </li>
            <li class="mt-5">
              <!-- ページネーション -->
              <div th:if="${payments.getTotalPages() > 1}" class="d-flex justify-content-center">
                <nav>
                  <ul class="pagination">
                    <li class="page-item">
                      <span th:if="${payments.isFirst()}" class="page-link disabled">前</span>
                      <a th:unless="${payments.isFirst()}" th:href="@{/payments(page = ${payments.getNumber() - 1}, year = ${year}, month = ${month}, categoryId = ${categoryId}, sort = ${sort})}" class="page-link">前</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, payments.getTotalPages() - 1)}" class="page-item">
                      <span th:if="${i == payments.getNumber()}" class="page-link active" th:text="${i + 1}"></span>
                      <a th:unless="${i == payments.getNumber()}" th:href="@{/payments(page = ${i}, year = ${year}, month = ${month}, categoryId = ${categoryId}, sort = ${sort})}" class="page-link" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item">
                      <span th:if="${payments.isLast()}" class="page-link disabled">次</span>
                      <a th:unless="${payments.isLast()}" th:href="@{/payments(page = ${payments.getNumber() + 1}, year = ${year}, month = ${month}, categoryId = ${categoryId}, sort = ${sort})}" class="page-link">次</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </li>
          </ul>
        </div>

        <div th:unless="${!payments.isEmpty()}" class="container">
          <h5 class="text-center text-secondary">
            <i class="fa-5x fa-solid fa-triangle-exclamation"></i>
            <p class="mt-3">支払いデータがありません</p>
            <a th:if="${!categories.isEmpty()}" th:href="@{/payments/add}" class="small">
              <i class="fa-solid fa-file-circle-plus"></i>
              データ追加
            </a>
            <a th:unless="${!categories.isEmpty()}" th:href="@{/categories}" class="small">
              <i class="fa-solid fa-folder-plus"></i>
              まずカテゴリーから追加
            </a>
          </h5>
        </div>
      </div>
    </div>
  </main>

  <div class="col-aside">
    <div th:replace="~{fragment :: footer}"></div>
  </div>

  <div th:replace="~{fragment :: scripts}"></div>
  <script th:src="@{/js/aside.js}"></script>
</body>
</html>