:root {
  --header-height: 64px;
  --bg-color: #eee;
  --navbar-color: #aaa;
  --pagination-active-color: #0af;
  --pagination-disable-color: #aaa;
  --aside-link-color: #0ff;
  --aside-link-hover-color: #cff;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a.member-lists:hover {
  opacity: 0.7;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.alert-primary,
.alert-success,
.alert-danger {
  position: fixed;
  z-index: -1;
  background: #777;
  border: none;
  opacity: 0;
  bottom: 50%;
  left: 15%;
  right: 15%;
  animation-name: alert;
  animation-duration: 2.5s;
}

.alert-primary {
  border-bottom: 4px solid #57f;
  color: #acf;
}

.alert-success {
  border-bottom: 4px solid #5f5;
  color: #afa;
}

.alert-danger {
  border-bottom: 4px solid #f75;
  color: #fca;
}

.alert-warning {
  position: fixed;
  z-index: 2;
  top: 80px;
  left: 15%;
  right: 15%;
}

@keyframes alert {
  0% { opacity: 0; z-index: 2; }
  10% { opacity: 0.9; z-index: 2; }
  90% { opacity: 0.9; z-index: 2; }
  100% { opacity: 0; }
}

.navbar {
  background-color: var(--navbar-color) !important;
}

.nav-link {
  color: #fff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff5 !important;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: var(--header-height);
    line-height: calc(3rem - 4px);
  }

  .nav-item {
    border-bottom: 4px solid #ff0;
    margin-left: 8px;
  }

  .nav-item.dropdown > .nav-link {
    width: 12rem;
    text-align: center;
  }

  .nav-link {
    text-align: center;
    width: 6rem;
  }

}


.col-aside {
  width: calc(100% - 240px);
  margin-left: auto;
}

.title {
  border-bottom: 1px solid #aaa;
  margin: 0 32px 48px;
}

.top-link {
  color: #555;
}

.page-title {
  font-size: 1.1rem;
}

.pagination .active {
  background-color: var(--pagination-active-color);
  color: #fff;
}

.pagination .disabled {
  color: var(--pagination-disable-color);
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #555;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

#paymentsOpenMenuBtn {
  position: fixed;
  left: 0;
  top: 50%;
  bottom: 50%;
  height: 5rem;
  padding: 8px;
  background-color: rgba(100, 100, 100, 0.8);
  border: 1px solid #ff0;
  border-left: none;
  border-radius: 0 8px 8px 0;
  color: #ff0;
  display: none;
}

aside {
  position: fixed;
  overflow-y: scroll;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #555;
  height: 100%;
  width: 240px;
  padding: calc(var(--header-height) + 8px) 8px 0;
  color: #fff;
  transition: transform 0.3s;
}

aside .container {
  font-size: 0.9em;
}

aside a {
  color: var(--aside-link-color);
}

aside a:hover {
  color: var(--aside-link-hover-color);
}

.carousel .gradation {
  position: relative;
}

.carousel .gradation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, var(--bg-color), transparent);
}

.carousel img {
  height: calc(var(--header-height) * 6);
  object-fit: cover;
}

.carousel .carousel-caption {
  color: #000;
}

.text-form {
  display: flex;
  align-items: center;
}

.text-form > select {
  width: 80px;
  border-radius: 8px 0 0 8px;
  background-color: #ffa;
}

.text-form > input {
  width: calc(100% - 64px);
  border-radius: 8px 0 0 8px;
}

.text-form > select + input {
  width: calc(100% - 80px - 64px);
  border-radius: 0;
}

.text-form > select + input[type = "password"] {
  width: calc(100% - 80px);
  border-radius: 0 8px 8px 0;
  opacity: 0.5;
  pointer-events: none;
}

.text-form > button {
  width: 64px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.progress {
  height: 8px;
  background-color: #ccc;
}

/* phone screen */
@media screen and (max-width: 767px) {

  p, small, strong {
    font-size: 0.8rem;
  }

  h5 {
    font-size: 0.9rem !important;
    font-weight: bold;
  }

  .alert {
    left: 5%;
    right: 5%;
  }

  #paymentsOpenMenuBtn {
    display: block;
    z-index: 1;
  }

  .col-aside {
    width: 100%;
  }

  aside {
    transform: translateX(-240px);
  }

  .carousel img {
    height: 100%;
  }
}