<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragment :: meta}"></div>
  <div th:replace="~{fragment :: styles}"></div>
  <title>ホーム</title>
</head>
<body>
  <div th:replace="~{fragment :: header}"></div>

  <div class="alert alert-primary text-center" th:if="${param.logined}">
    ログインしました
  </div>
  <div class="alert alert-primary text-center" th:if="${param.logouted}">
    ログアウトしました
  </div>

  <main class="py-5">

    <div class="alert alert-success" th:if="${successMessage}">
      <span th:text="${successMessage}"></span>
    </div>

    <div class="background"></div>
    <a href="#" id="paymentsOpenMenuBtn">
      <i class="fa-2x fa-solid fa-bars"></i>
    </a>
    <aside>
      <div class="d-flex justify-content-between mb-3">
        <h5>MENU</h5>
        <button type="button" id="paymentsCloseMenuBtn" class="btn-close bg-white d-md-none"></button>
      </div>
      <div class="container">
        <div th:replace="~{fragment :: aside}"></div>
        <div class="mb-5">
          <p class="fw-bold">各種ページ</p>
          <hr>
          <ul>
            <li>
              <a th:href="@{/payments}">
                <i class="fa-solid fa-piggy-bank"></i>
                家計簿
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-bicycle"></i>
                部品管理(未作成)
              </a>
            </li>
          </ul>
        </div>
      </div>

    </aside>  

    <div class="col-aside">
      <div class="container mt-5">
        準備中
      </div>
    </div>
  </main>

  <div class="col-aside">
    <div th:replace="~{fragment :: footer}"></div>
  </div>

  <div th:replace="~{fragment :: scripts}"></div>
  <script th:src="@{/js/aside.js}"></script>
</body>
</html>