<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragment :: meta}"></div>
  <div th:replace="~{fragment :: styles}"></div>
  <title>ホーム</title>
</head>
<body>
  <div th:replace="~{fragment :: header}"></div>

  <div class="alert alert-primary text-center" th:if="${param.logined}">
    ログインしました
  </div>
  <div class="alert alert-primary text-center" th:if="${param.logouted}">
    ログアウトしました
  </div>

  <main class="py-5">

    <div class="alert alert-success" th:if="${successMessage}">
      <span th:text="${successMessage}"></span>
    </div>

    <div th:replace="~{fragment :: openAsideButton}"></div>

    <aside>
      <div class="d-flex justify-content-between mb-3">
        <h5>MENU</h5>
        <button type="button" id="paymentsCloseMenuBtn" class="btn-close bg-white d-md-none"></button>
      </div>
      <div class="container">
        <div th:replace="~{fragment :: aside}"></div>
        <div class="mb-5">
          <p class="fw-bold">各種ページ</p>
          <hr>
          <ul>
            <li>
              <a th:href="@{/payments}">
                <i class="fa-solid fa-piggy-bank"></i>
                家計簿
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-bicycle"></i>
                部品管理(未作成)
              </a>
            </li>
          </ul>
        </div>
      </div>

    </aside>  

    <div class="col-aside">
      <div class="container mt-5">

        <h5 class="title">各ページ</h5>
        <div class="row justify-content-center">
          <a th:href="@{/payments}" class="col-lg-5 col-10 mb-5 top-link">
            <div class="row align-items-center">
              <div class="col-3">
                <i class="fa-4x fa-solid fa-piggy-bank"></i>
              </div>
              <div class="col-9">
                <h5 class="border-bottom border-secondary">家計簿ページ</h5>
                <p>支払いデータ一覧</p>
              </div>
            </div>
          </a>
          <a href="#" class="col-lg-5 col-10 mb-5 top-link">
            <div class="row align-items-center">
              <div class="col-3">
                <i class="fa-4x fa-solid fa-bicycle"></i>
              </div>
              <div class="col-9">
                <h5 class="border-bottom border-secondary">部品管理ページ</h5>
                <p>自転車部品の詳細一覧</p>
              </div>
            </div>
          </a>
        </div>
        
        <div sec:authorize="isAuthenticated()">
          <h5 class="title">会員設定</h5>
          <div class="row justify-content-center">
            <a href="#" class="col-lg-5 col-10 mb-5 top-link">
              <div class="row align-items-center">
                <div class="col-3">
                  <i class="fa-4x fa-solid fa-user-pen"></i>
                </div>
                <div class="col-9">
                  <h5 class="border-bottom border-secondary">会員情報変更</h5>
                  <p>ユーザー名、メールアドレス等</p>
                </div>
              </div>
            </a>
            <a href="#" class="col-lg-5 col-10 mb-5 top-link">
              <div class="row align-items-center">
                <div class="col-3">
                  <i class="fa-4x fa-solid fa-user-lock"></i>
                </div>
                <div class="col-9">
                  <h5 class="border-bottom border-secondary">パスワード変更</h5>
                  <p>ログインパスワードの変更</p>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </main>

  <div class="col-aside">
    <div th:replace="~{fragment :: footer}"></div>
  </div>

  <div th:replace="~{fragment :: scripts}"></div>
  <script th:src="@{/js/aside.js}"></script>
</body>
</html>