<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragment :: meta}"></div>
  <div th:replace="~{fragment :: styles}"></div>

  <!-- Flatpickr -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <title>帳簿管理サイト｜パーツ編集</title>
</head>
<body>
  <div th:replace="~{fragment :: header}"></div>
  
  <div th:replace="~{fragment :: alertMessages}"></div>

  <main class="py-5">
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

          <h5 class="text-center my-4" th:text="${'パーツ名｜' + parts.getName()}"></h5>

          <div class="mb-3">
            <a th:href="@{/admin}">管理者Top</a> >>
            <a th:href="@{/admin/parts}">部品管理ページ</a> >>
            <a th:href="@{/admin/parts/__${parts.getPartsCategory().getId()}__/showCategory}">カテゴリー詳細</a> >>
            <span>パーツ編集</span>
          </div>  

          <div class="card card-body shadow">
            <div class="row mt-3">
              <div class="col-12 text-end mb-3">
                <a th:if="${parts.getNotices().isEmpty()}" href="#" data-bs-toggle="modal" data-bs-target="#addNoticeModal" class="btn btn-success btn-sm">通知を追加</a>
                <a th:unless="${parts.getNotices().isEmpty()}" href="#" data-bs-toggle="modal" data-bs-target="#delNoticeModal" class="btn btn-danger btn-sm">通知を削除</a>
  
                <!-- AddNoticeModal -->
                <div class="modal fade" id="addNoticeModal" tabindex="-1" data-keyboard="false">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form th:action="@{/admin/parts/__${parts.getPartsCategory().getId()}__/__${parts.getId()}__/addNotice}" method="post" th:object="${addNoticeForm}">
                        <div class="modal-body">
                          <div class="row">
                            <div th:each="notice : ${notices}" class="col-4 text-center">
                              <label th:for="${notice.getId()}" class="badge bg-success form-check-label" th:text="${notice.getName()}"></label>
                              <input type="checkbox" class="form-check-input" name="noticeIds[]" th:id="${notice.getId()}" th:value="${notice.getId()}">
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <span class="btn btn-secondary btn-sm" data-bs-dismiss="modal">閉じる</span>
                          <button type="submit" class="btn btn-primary btn-sm">追加</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
  
                <!-- DelNoticeModal -->
                <div class="modal fade" id="delNoticeModal" tabindex="-1" data-keyboard="false">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title">
                          通知を全て削除します、よろしいですか？
                        </div>
                      </div>
                      <div class="modal-footer">
                        <form th:action="@{/admin/parts/__${parts.getPartsCategory().getId()}__/__${parts.getId()}__/deleteNotice}" method="post">
                          <span class="btn btn-secondary btn-sm" data-bs-dismiss="modal">閉じる</span>
                          <button type="submit" class="btn btn-danger btn-sm">全て削除</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-4">
                    通知
                  </div>
                  <div class="col-lg-8">
                    <div th:if="${parts.getNotices().isEmpty()}" class="text-danger2">
                      <i class="fa-solid fa-triangle-exclamation"></i>
                      通知はありません
                    </div>
                    <div th:unless="${parts.getNotices().isEmpty()}">
                      <span th:each="notice : ${parts.getNotices()}" class="badge bg-danger2 me-2" th:text="${notice.getName()}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <form th:action="@{/admin/parts/__${parts.getPartsCategory().getId()}__/__${parts.getId()}__/update}" method="post" th:object="${partsEditForm}" enctype="multipart/form-data">
              <div class="form-group row mt-3">
                <div class="col-lg-4">
                  <label for="" class="col-form-label">
                    カテゴリー
                  </label>
                </div>
                <div class="col-lg-8">
                  <p class="fw-bold form-control text-primary" th:text="${parts.getPartsCategory().getName()}"></p>
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-lg-4">
                  <label for="name" class="col-form-label">
                    パーツ名
                  </label>
                </div>
                <div class="col-lg-8">
                  <input type="text" th:field="*{name}" class="form-control" placeholder="50文字以内">
                  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger small"></div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-lg-4">
                  <label for="image" class="col-form-label">
                    画像選択
                  </label>
                </div>
                <div class="col-lg-8">
                  <input type="file" th:field="*{image}" class="form-control" placeholder="画像を選択">
                
                  <div class="mt-2" id="imagePreview"></div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-lg-4">
                  <label for="description" class="col-form-label">
                    詳細
                  </label>
                </div>
                <div class="col-lg-8">
                  <textarea th:field="*{description}" class="form-control" cols="30" rows="10" placeholder="255文字以内"></textarea>              
                  <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger small"></div>
                </div>
              </div>
              <div class="form-group row mt-3">
                <div class="col-lg-4">
                  <label for="exchangedDate" class="col-form-label">
                    交換日
                  </label>
                </div>
                <div class="col-lg-8">
                  <input type="text" th:field="*{exchangedDate}" class="form-control date-form">
                  <div th:if="${#fields.hasErrors('exchangedDate')}" th:errors="*{exchangedDate}" class="text-danger small"></div>
                </div>
              </div>
              <div class="form-group row justify-content-center mt-5">
                <div class="col-lg-12 d-flex">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#delPartsModal" class="btn btn-danger w-25 mx-auto">削除</a>
                  <button type="submit" class="btn btn-primary w-25 mx-auto">更新</button>
                </div>
              </div>
            </form>
          </div>

          <!-- DelPartsModal -->
          <div class="modal fade" id="delPartsModal" tabindex="-1" data-keyboard="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title">このパーツを削除します、本当によろしいですか？</div>
                </div>
                <div class="modal-footer">
                  <form th:action="@{/admin/parts/__${parts.getPartsCategory().getId()}__/__${parts.getId()}__/delete}" method="post">
                    <span class="btn btn-secondary btn-sm" data-bs-dismiss="modal">閉じる</span>
                    <button type="submit" class="btn btn-danger btn-sm">削除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div th:replace="~{fragment :: footer}"></div>

  <div th:replace="~{fragment :: scripts}"></div>

  <script th:src="@{/js/imagePreview.js}"></script>

  <!-- Flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <script th:src="@{/js/editFlatpickr.js}"></script>
</body>
</html>