<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragment :: meta}"></div>
  <div th:replace="~{fragment :: styles}"></div>
  <title>帳簿管理サイト｜カテゴリーデータ</title>
</head>
<body>
  <div th:replace="~{fragment :: header}"></div>

  <div th:replace="~{fragment :: alertMessages}"></div>

  <div th:replace="~{fragment :: openAsideButton}"></div>

  <aside>
    <div class="d-flex justify-content-between mb-3">
      <h5>MENU</h5>
      <button type="button" id="paymentsCloseMenuBtn" class="btn-close bg-white d-md-none"></button>
    </div>
    <div class="container">
      <div th:replace="~{fragment :: aside}"></div>
    </div>
  </aside>

  <main class="py-5">
    <div class="col-aside">
      <div class="container mt-5">

        <h5 class="title" th:text="${category.getName()}"></h5>

        <div class="mb-3">
          <a th:href="@{/admin}">管理者Top</a> >>
          <a th:href="@{/admin/parts}">部品管理ページ</a> >>
          <span>カテゴリー詳細</span>
        </div>
        
        <div class="row justify-content-center">
          <div class="col-md-11 col-lg-10">

            <div class="row justify-content-center align-items-end mb-5">
              <div class="col-md-6 text-center mb-5 mb-md-0">
                <img th:if="${category.getImage()}" th:src="${imageUrl + category.getImage()}" class="category-image">
                <img th:unless="${category.getImage()}" th:src="@{/img/no_image.png}" class="category-image">
              </div>
              <div class="col-md-6 text-end">
                <a href="#" class="btn btn-success fw-bold btn-sm" data-bs-toggle="modal" data-bs-target="#editModal">カテゴリー編集</a>
                ｜
                <a th:href="@{/admin/parts/__${category.getId()}__/registerParts}" class="btn btn-primary fw-bold btn-sm">パーツ追加</a>
              </div>
            </div>

            <!-- editModal -->
            <div class="modal fade" id="editModal" tabindex="-1" data-keyboard="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="modal-title" th:text="${'カテゴリー編集：' + category.getName()}"></p>
                  </div>
                  <form th:action="@{/admin/parts/__${category.getId()}__/updateCategory}" method="post" th:object="${editForm}" enctype="multipart/form-data">
                    <div class="modal-body">
                      <input type="text" class="form-control" th:field="*{name}" placeholder="20文字以内" required>
                      <input type="file" th:field="*{image}" class="form-control mt-3">
                      <div class="row mt-2" id="imagePreview"></div>
                    </div>
                    <div class="modal-footer">
                      <span class="btn btn-secondary btn-sm" data-bs-dismiss="modal">閉じる</span>
                      <button type="submit" class="btn btn-success btn-sm">更新</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <h6 th:text="${category.getName() + '｜パーツ一覧'}"></h6>
            <hr>

            <ul th:if="${!parts.isEmpty()}">
              <li th:each="item : ${parts}" class="mt-3">
                <a th:href="@{/admin/parts/__${category.getId()}__/__${item.getId()}__/edit}" class="text-dark">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-wrap">
                        <p>交換日：</p><span class="fw-bold" th:text="${item.getExchangedDate()}"></span>
                      </div>
                      <div>
                        <span th:each="notice : ${item.getNotices()}" class="badge bg-danger2 ms-2" th:text="${notice.getName()}"></span>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3 border-end border-secondary text-center">
                          <img th:if="${item.getImage()}" th:src="${imageUrl + item.getImage()}" class="img-fluid">
                          <img th:unless="${item.getImage()}" th:src="@{/img/no_image.png}" class="img-fluid no-image">
                        </div>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-12 border-bottom border-secondary">
                              <h5 th:text="${item.getName()}"></h5>
                            </div>
                            <div class="col-12 p-2">
                              <p th:text="${item.getDescription()}"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <ul th:if="${parts.isEmpty()}">
              <li class="d-flex justify-content-center my-5">
                <h5 class="text-center">
                  <i class="fa-5x fa-solid fa-triangle-exclamation"></i>
                  <p class="mt-3">パーツがありません</p>
                </h5>
              </li>
            </ul>

          </div>          
        </div>
      </div>
    </div>
  </main>

  <div class="col-aside">
    <div th:replace="~{fragment :: footer}"></div>
  </div>

  <div th:replace="~{fragment :: scripts}"></div>
  <script th:src="@{/js/aside.js}"></script>
  <script th:src="@{/js/imagePreview.js}"></script>
</body>
</html>